whisper_models/*
config.json
key.key
__pycache__
__pycache__/*
*/__pycache__/
*/__pycache__/*
logs/*
audio_output/*
venv/*
.DS_Store
dist/*
dist
src/jarvis_conversationalist.egg-info/*
src/jarvis_conversationalist.egg-info
.idea/*
.idea
src/jarvis_conversationalist/*.wav