openai-whisper==20231106
openai==1.2.3
chromadb<0.4.15
soundfile==0.12.1
PyAudio==0.2.14
pydub==0.25.1
gtts==2.4.0
spacy==3.7.2
beautifulsoup4==4.12.2
googlesearch-python==1.2.3
tiktoken==0.5.1
geocoder==1.38.1
scrapy==2.11.0

